@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<STQAPWEB.Models.Entites.Question>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">QuestionId</th>
      <th scope="col">StudentId</th>
      <th scope="col">QuestionText</th>
      <th scope="col">DateTimeAsked</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
      @foreach (var questiton in Model)
        {
            <tr>
        
        <th scope="row">@questiton.QuestionId </th>
      <td>@questiton.StudentId </td>
      <td>@questiton.QuestionText </td>
      <td>@questiton.DateTimeAsked</td>
      <td><a class="btn btn-primary" asp-controller="PostView" asp-action="EditQuestion" asp-route-id="@questiton.QuestionId">Edit</a></td>
      
    </tr>

        }
    
  </tbody>
</table>