@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- This is an example component -->

@model STQAPWEB.Models.UserViewModel

<div class="h-full">

    <div class="border-b-2 block md:flex">

        <div class="w-full md:w-2/5 p-4 sm:p-6 lg:p-8 bg-white shadow-md">
            
            @if (Model.isStudent is true)
            {
                <span class="text-gray-600 mt-4">Welcome to Student Portal</span>
                <div class="flex flex-col md:flex-row items-center justify-between mb-4">
                    <a class="btn" asp-controller="StudentView" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn" asp-controller="PostView" asp-action="Question" asp-route-sId="@Model.InstitueId">Post Question</a>
                    <a class="btn" asp-controller="PostView" asp-action="List" asp-route-sId="@Model.InstitueId">My Posts</a>
                    <a class="btn" asp-controller="PostView" asp-action="ListAllStudent">All Posts</a>
                    <a class="btn" asp-controller="PostView" asp-action="ListAnswerdStudent" asp-route-sId="@Model.InstitueId">Teacher Answer</a>

                </div>
            }else if (Model.isTeacher is false)
            {
                <span class="text-gray-600 mt-4">Welcome Stanger Please Update profile to use all the functionality</span>
                <div class="flex flex-col md:flex-row items-center justify-between mb-4">
                    <a class="btn" asp-controller="StudentView" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

                </div>
            }
            @if (Model.isTeacher is true)
            {
                <span class="text-gray-600 mt-4">Welcome to Teacher Portal</span>
                <div class="flex flex-col md:flex-row items-center justify-between mb-4">
                    <a class="btn" asp-controller="StudentView" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn" asp-controller="PostView" asp-action="ListAnswerd" asp-route-tId="@Model.InstitueId">My Answers</a>
                    <a class="btn" asp-controller="PostView" asp-action="ListAll">All Posts</a>
                </div>
            }
            else if (Model.isStudent is false)
            {
                <span class="text-gray-600 mt-4">Welcome Stanger Please Update profile to use all the functionality</span>
                <div class="flex flex-col md:flex-row items-center justify-between mb-4">
                    <a class="btn" asp-controller="StudentView" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

                </div>
            }
            
            <div class="w-full p-8 mx-2 flex justify-center">
                <img id="showImage" class="max-w-xs w-32 items-center border" src="https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=200" alt="">
            </div>
        </div>

        <div class="w-full md:w-3/5 p-8 bg-white lg:ml-4 shadow-md">
            <div class="rounded shadow p-6">
                <div class="pb-4 md:pb-6">
                    <label for="id" class="font-semibold text-gray-700 block pb-1">Id</label>
                    <div class="flex">
                        <input disabled id="userid" class="border-1 rounded-r px-4 py-2 w-full" type="text" asp-for="Id"/>
                    </div>
                </div>
                <!-- ... (Other form elements) ... -->
                <div class="pb-4">
                    <label for="about" class="font-semibold text-gray-700 block pb-1">Name</label>
                    <input disabled id="name" class="border-1  rounded-r px-4 py-2 w-full" type="text" asp-for="Name" />
                </div>
                <div class="pb-6">
                    <label for="email" class="font-semibold text-gray-700 block pb-1">Email</label>
                    <div class="flex">
                        <input disabled id="email" class="border-1  rounded-r px-4 py-2 w-full" type="email" asp-for="Email" />
                    </div>
                </div>
                <div class="pb-4">
                    <label for="name" class="font-semibold text-gray-700 block pb-1">Inistitute Name</label>
                    <input disabled id="name" class="border-1  rounded-r px-4 py-2 w-full" type="text" asp-for="InstitueName" />
                </div>
                <div class="pb-6">
                    <label for="name" class="font-semibold text-gray-700 block pb-1">Student Id</label>
                    <div class="flex">
                        <input disabled id="institueId" class="border-1  rounded-r px-4 py-2 w-full" type="text" asp-for="InstitueId" />
                    </div>
                </div>
                <div class="pb-4">
                    <label for="password" class="font-semibold text-gray-700 block pb-1">Password</label>
                    <input disabled id="password" class="border-1  rounded-r px-4 py-2 w-full" type="password" asp-for="Password" />
                    <span class="text-gray-600 pt-4 block opacity-70">Personal login information of your account</span>
                </div>
                <div class="mt-3">

                    <input type="checkbox" class="form-check-input" id="isStudent" asp-for="isStudent" />
                    <label class="form-label" for="isStudent">isStudent</label>
                </div>
                <div class="mt-3">

                    <input type="checkbox" class="form-check-input" id="isTeacher" asp-for="isTeacher" />
                    <label class="form-label" for="isTeacher">isTeacher</label>
                </div>
            </div>
        </div>

    </div>

</div>

<style>
    /* Add this style block or include it in your CSS file */
    {
        .btn {
            font-size: 12px; /* Adjust the font size for small screens */
            padding: 6px 10px; /* Adjust the padding for small screens */
        }
    }
</style>
